body {
    background-color: lightblue;
}

.calculator-area {
    width: 300px;
    height: auto;
    background-color: #8a1111;
    text-align: center;
}

.card-header {
    border: none;
}

.screen-area {
    height: 150px;
    text-align: right;
    background-color: #a2a2a2;
    border-radius: 8px;
}

.btn {
    width: 60px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.8);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: 2px solid #a10000;
    box-shadow: none;
}

.btn-equals {
    width: 120px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:hover,
.btn-active,
.btn-focus {
    background-color: rgba(189, 0, 0, 0.877);
    box-shadow: none;
}

.btn:active {
    background-color: rgb(255, 0, 0);
}

.btn:focus {
    background-color: rgba(197, 30, 0, 0.897);
}

.btn:focus {
    background-color: rgba(255, 0, 0, 0.8);
}

.btn-operation,
.btn-operation:focus {
    background-color: rgba(255, 0, 0, 0.4);
}

.btn-remove,
.btn-equals,
.btn-remove:focus,
.btn-equals:focus {
    background-color: rgba(255, 0, 0, 0.2);
}

@media only screen and (min-width: 769px) {
    .calculator-area {
        width: 500px;
        height: 625px;
    }
    .screen-area {
        height: 150px;
    }
    .btn {
        width: 100px;
        height: 75px;
    }
    .btn-equals {
        width: 200px;
    }
}
